body {
	margin: 0;
	font-family: Exo;
}

.flex {
	display: flex;
}
.col {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
.red {
	border: solid red 1px;
}
